body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titleCover {
    font-size: 75px;
}

hr.rounded {
    border-top: 8px solid rgb(0, 0, 0);
    border-radius: 10px;
}

hr.cover {
    border-top: 8px solid #ffffff;
    border-radius: 10px;
    width: 75%;
}


.divContent {
    position: absolute;
    left: 50%;
    top: 35%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 1px solid black;
    padding: 10px;
    height: 500px;
    width: 50%;
    border-radius: 5px;
}

.divSlides {
    position: relative;
    margin: 0 auto;
    clear: left;
    height: auto;
    z-index: 0;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #2a2a52;
    color: white;
}

.divCovers {
    height: 500px;
    margin: 0 auto;
    position: relative;
    background-color: #2a2a52;
    color: white;
    text-align: center;
    border: 1px solid black;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

/* .divButtons {
    width: 100%;
} */
.divsBelow {
    position: absolute;
    bottom: 150px;
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
    width: 100%;
}

/* Button */
button {
    background-color: #FFFFFF;
    border: 1px solid #222222;
    border-radius: 8px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
}

button:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
}

button:active {
    background-color: #F7F7F7;
    border-color: #000000;
    transform: scale(.96);
}

button:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
}